{% extends "base.html" %}
{% load static %}

{% block extra_title %} Home {% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 mt-5 mb-2">
        <!-- Main content -->
        <div class="row h-100">
            <div class="col-12 col-lg-5 order-lg-first mb-4">
                <h1 class="display-4"><span class="fw-bold">Activewear Designed for Women</h1>
                <p class="my-2">Where Performance meets Empowwerment. At <strong> Shaurya</strong>, we design activewear that celebrates strength, confidence, and individuality.</p>
                <p class="my-2">Our fitness wear and accessories are crafted with innovative, breathable fabrics that move with you- keeping you cool, comfortable and ready for anything, whether it's a workout, a run or your daily hustle, we're here to support you in your fitness journey.</p>
                <p class="my-2"><a href="{% url 'products' %}" class="btn btn-outline-dark btn-rust text-white rounded-0 py-2 theme-btn">Explore Store</a></p>
            </div>
            <div class="col-12 col-lg-7 order-first">
                <img class="image-fluid" src="{% static 'images/home-image-bg.jpg' %}" alt="Workout gear" width="700" height="400">
            </div>
        </div>
        <div class="row h-100">
            <div class="col-12 col-lg-7 order-first">
                    <img class="image-fluid" src="{% static 'images/home-collection.jpg' %}" alt="" width="" height="">
            </div>

            <div class="col-12 col-lg-5 order-lg-first mb-4">
                <h2 class="display-4"><span class="fw-bold">What's Trending Now?</span></h2>
                <p class="my-4">- High performance leggings that sculpt and support.</p>
                <p class="my-4">- Sports bras that move with you.</p>
                <p class="my-4">- Accessories that complete your fit-from gym bags to water bottles.</p>
                <p class="my-4">- Essentials for training, travel and recovery.</p>
            </div>
        </div>
        <div class="row h-100">
            <div class="col-12 col-lg-6 order-lg-first mb-6">
                <h3 class="display-4"><span class="fw-bold">For Women Who Move The World.</span></h3>
                <p class="my-4">Join thousand of women redifining fitness and fashion. To get inspired, motivated and begin your fitness journey, there can be a lot of questions you might have. Do read the Frequently Asked Questions on fitness tips, importance of right workout gears and several other questions by visiting the FAQ section. Click the button below.</p>
                <p class="my-4"><a href="{% url 'faq' %}" class="btn btn-outline-dark btn-rust text-white rounded-0 py-2 theme-btn mt-2">Read FAQs</a></p>
            </div>
            <div class="col-12 col-lg-6 order-first my-1">
                <img class="image-fluid" src="{% static 'images/community-home.jpg' %}" alt="workout together">
            </div>
        </div>



    </div>
{% endblock %}