{% load static %}

<footer class="container-fluid bg-brand-blue">
    <div class="row">
        <!-- Keep in touch section -->
         <div class="col-12 col-md-4 p-5 order-first">
            <div>
                <h3 class="text-light mb-4">Hey, let's keep in touch!</h3>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com" rel="external nofollow noopener" target="_blank" aria-label="Twitter link" title="Twitter link"><i class="icon fa-brands fa-twitter bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com" rel="external nofollow noopener" target="_blank" aria-label="Facebook link" title="Facebook link"><i class="icon fa-brands fa-facebook-f bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://pinterest.com" rel="external nofollow noopener" target="_blank" aria-label="Pinterest link" title="Pinterest link"><i class="icon fa-brands fa-pinterest-p bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" rel="external nofollow noopener" target="_blank" aria-label="Instagram link" title="Instagram link"><i class="icon fa-brands fa-instagram bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

    </div>

</footer>