{% load static %}

<footer class="container-fluid bg-brand-blue">
    <div class="row">
        <!-- Keep in touch section -->
        <div class="col-12 col-md-6 p-5 order-first">
            <div>
                <h3 class="text-light mb-4">Hey, let's keep in touch!</h3>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com" rel="external nofollow noopener" target="_blank" aria-label="Twitter link" title="Twitter link"><i class="icon fa-brands fa-twitter bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com" rel="external nofollow noopener" target="_blank" aria-label="Facebook link" title="Facebook link"><i class="icon fa-brands fa-facebook-f bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://pinterest.com" rel="external nofollow noopener" target="_blank" aria-label="Pinterest link" title="Pinterest link"><i class="icon fa-brands fa-pinterest-p bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" rel="external nofollow noopener" target="_blank" aria-label="Instagram link" title="Instagram link"><i class="icon fa-brands fa-instagram bg-light rounded-circle p-2" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <section class="">
                <form action="" method="POST" class="row d-flex justify-content-center newsletter-form ">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="col-auto">
                        <h5 class="pt-2 text-light">Subscribe to our newsletter</h5>
                    </div>

                    <div class="col-auto">
                        <input id="email" name="email" type="email" class="form-control" placeholder="Your Email address">
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-beige rounded-0">Subscribe</button>
                    </div>
                </form>
            </section>
        </div>
        <div class="row">
            <div class="col-12 p-5">
                <a href="https://www.termsfeed.com/live/6e5672bc-c791-471e-92ec-eeb8809b6364" target="_blank" class="text-light">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>