<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!--Home-->
        <li class="nav-item mx-3">
            <a class="font-weight-bold nav-link text-rust mr-5" href="{% url 'home' %}">HOME</a>
        </li>

        <!--Sorting and Filtering-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sorting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL PRODUCTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sorting-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item"> By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Clothing -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CLOTHING
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=T-shirt" class="dropdown-item">T-Shirt</a>
                <a href="{% url 'products' %}?category=Leggings" class="dropdown-item ">Leggings</a>
                <a href="{% url 'products' %}?category=Shorts" class="dropdown-item ">Shorts</a>
                <a href="{% url 'products' %}?category=Jackets" class="dropdown-item">Jackets</a>
                <a href="{% url 'products' %}?category=T-shirt,Leggings,Shorts,Jackets" class="dropdown-item">All Clothing</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Accessories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-rust mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ACCESSORIES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=Socks" class="dropdown-item">Socks</a>
                <a href="{% url 'products' %}?category=Sunglasses" class="dropdown-item">Sunglasses</a>
                <a href="{% url 'products' %}?category=Backpack" class="dropdown-item">Backpack</a>
                <a href="{% url 'products' %}?category=Shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=Socks,Sunglasses,Backpack,Shoes" class="dropdown-item">All Accessories</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Contact -->
        <li class="nav-item mx-3">
            <a class="font-weight-bold nav-link text-rust mr-5" href="{% url 'contact:contact' %}">CONTACT</a>
        </li>

        <!-- FAQs -->
        <li class="nav-item mx-3">
            <a class="font-weight-bold nav-link text-rust" href="{% url 'faq' %}">FAQs</a>
        </li>
    </ul>
</div>