<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing</a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">T-shirts</a>
                <a href="" class="dropdown-item ">Leggings</a>
                <a href="" class="dropdown-item ">Shorts</a>
                <a href="" class="dropdown-item">Jackets</a>
                <a href="" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories</a>
            <div class="dropdown-menu border-0" aria-labelledby="accessory-link">
                <a href="" class="dropdown-item">Socks &amp; Essentials</a>
                <a href="" class="dropdown-item">Sunglasses</a>
                <a href="" class="dropdown-item">Bag Packs</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact</a>
            <div class="dropdown-menu border-0" aria-labelledby="contact">
                <a href="" class="dropdown-item"></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="FAQ" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FAQs</a>
            <div class="dropdown-menu border-0" aria-labelledby="FAQ">
                <a href="" class="dropdown-item"></a>
            </div>
        </li>
    </ul>
</div>

