<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!--Home-->
        <li class="nav-item mx-3">
            <a class="font-weight-bold nav-link text-rust mr-5" href="{% url 'home' %}">HOME</a>
        </li>
        <!-- Clothing -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CLOTHING
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=tshirts,sportsbras" class="dropdown-item">T-SHIRTS & SPORTS BRAS</a>
                <a href="{% url 'products' %}?category=leggings" class="dropdown-item ">LEGGINGS</a>
                <a href="{% url 'products' %}?category=shorts" class="dropdown-item ">SHORTS</a>
                <a href="{% url 'products' %}?category=jackets" class="dropdown-item">JACKETS</a>
                <a href="{% url 'products' %}?category=t-shirts,sports bras,leggings,shorts,jackets" class="dropdown-item">ALL CLOTHING</a>
                <a href="{% url 'products' %}" class="dropdown-item">ALL PRODUCTS</a>
            </div>
        </li>

        <!-- Accessories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-rust mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ACCESSORIES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Socks</a>
                <a href="" class="dropdown-item">Sunglasses</a>
                <a href="" class="dropdown-item">Bagpacks</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Contact -->
        <li class="nav-item mx-3">
            <a class="font-weight-bold nav-link text-rust mr-5" href="#">CONTACT</a>
        </li>

        <!-- FAQs -->
        <li class="nav-item mx-3">
            <a class="font-weight-bold nav-link text-rust" href="#">FAQs</a>
        </li>
    </ul>
</div>